{% block social_icons %}
<div id="social-icons">
  <h3>
    <a href="http://www.facebook.com/sparkcentralcoast" class="fa fa-facebook nounderline"></a> |
    <a href="http://www.twitter.com/sparkcc" class="fa fa-twitter nounderline"></a> |
    <a href="mailto:admin@sparkcc.org" class="fa fa-envelope nounderline"></a> |
    <a href="http://www.github.com/sparkcc" class="fa fa-github nounderline"></a> |
    <!--<a href="http://www.youtube.com/sparkcc" class="fa fa-youtube-play"></a> |-->
    <a href="https://www.flickr.com/photos/132100168@N05/" class="fa fa-camera nounderline"></a> |
    <a href="/feeds/atom/" class="fa fa-rss"></a> |
    <a href="https://goo.gl/maps/d00hT" class="fa fa-map-marker nounderline"></a>
  </h3>
</div>
{% endblock %}
