<h3>Newsletter</h3>
<div id="mc_embed_signup">
  <form action="//sparkcc.us10.list-manage.com/subscribe/post?u=bd63a058c25f67592fea69788&amp;id=8713623f10" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="form-group">
        <p class="help-block small">Get all the latest from SparkCC.</p>
        <input type="email" placeholder="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_bd63a058c25f67592fea69788_8713623f10" tabindex="-1" value=""></div>
      <button type="submit" class="btn btn-default btn-xs" id=mc-embedded-subscribe>Subscribe</button>
  </form>
</div>
