<h3>Twitter</h3>
<div>
  <a class="twitter-timeline" href="https://twitter.com/sparkcc" data-widget-id="609117780550389760" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="3">Tweets by @sparkcc</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
</div>
