@font-face {
    font-family: Antipasto;
    src: url('../fonts/Antipasto.ttf');
}
 
@font-face {
    font-family: Yorkville;
    src: url('../fonts/Yorkville.ttf');                                                                                                                                                     }

body {
  font-family: 'Antipasto', Sans-Serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Antipasto', Sans-Serif;
}
