/* Add SparkCC official fonts */
@font-face {
    font-family: Antipasto;
    src: url('../fonts/Antipasto.ttf');
}
 
@font-face {
    font-family: Yorkville;
    src: url('../fonts/Yorkville.ttf');                                                                                                                                                     }

body {
  font-family: 'Yorkville', Sans-Serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yorkville', Sans-Serif;
}

.nounderline {
    text-decoration: none !important;
}

/* Navbar */
.navbar-text {
  font-family: 'Antipasto', Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #888 !important;
  line-height: 100%;
  padding-top: 5px;
  margin:15px 20px 0 5px;
}

.navbar-brand {
  font-family: 'Yorkville', Sans-Serif;
  font-size: 18px;
  color: #000 !important;
  padding: 0px;
  padding-top: 5px;
  padding-right: 20px;
}

.navbar-brand img {
  max-height: 40px;
  width: auto;
}

/* Link colours */
a {
  color: #fcb017;
}

a:hover, a:focus {
  color: #e09b15;
}

/* Social icons*/
#social-icons h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.middle img {
    height: auto;
}
